:root {
  --paragraph-color: rgba(0, 0, 0, 0.7);
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

.portrait {
  margin-right: 1em;
}

.socials {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.socials li {
  margin-top: .5em;
}

.socials li:first-child {
  margin-top: 0;
}

.socials li a {
  color: var(--paragraph-color);
  font-size: 90%;
}

.socials li a:hover {
  text-decoration: underline;
}

p {
  color: var(--paragraph-color);
}

a {
  text-decoration: none;
}

.topbar {
  margin-bottom: 1.5em;
}

img {
  margin-bottom: 1rem;
}

footer {
  color: rgba(0, 0, 0, 0.55);
}

.margin-info {
  display: none;
}

@media only screen and (min-width: 768px) {
  .margin-info {
    display: block;
  }
}
